@model BiciShop.Models.ViewModels.ChangePasswordViewModel
@{
}
<div class="text-center">
    <h1 class="display-4">Change password for User, @Model.Email</h1>
    <form method="post" action="~/Account/ChangePassword" asp-antiforgery="true">

        <div class="mb-3 row">
            @Html.LabelFor(x => x.OldPassword, new { @class = "col-sm-2 col-form-label" })

            <div class="col-sm-10">
                @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })

                <span asp-validation-for="OldPassword" class="alert alert-danger alertStyle" role="alert">

                </span>
            </div>
        </div>
        <div class="mb-3 row">
            @Html.LabelFor(x => x.Password, new { @class = "col-sm-2 col-form-label" })

            <div class="col-sm-10">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })

                <span asp-validation-for="Password" class="alert alert-danger alertStyle" role="alert">

                </span>
            </div>
        </div>
        <div class="mb-3 row">
            @Html.LabelFor(x => x.Confirm, new { @class = "col-sm-2 col-form-label" })

            <div class="col-sm-10">
                @Html.PasswordFor(x => x.Confirm, new { @class = "form-control" })

                <span asp-validation-for="Confirm" class="alert alert-danger alertStyle" role="alert">

                </span>
            </div>
        </div>
        <input type="hidden" value="@Model.ActionName" name="ActionName" />
        <input type="hidden" value="@Model.ControllerName" name="ControllerName" />
        <input type="hidden" value="@Model.UserId" name="userId" />
        <input type="submit" value="Change" class="btn btn-success" />
    </form>

</div>